<p id="notice"><%= notice %></p>
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h3>Restaurants</h3>
        <%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <% @restaurants.each do |restaurant| %>
          <div class="col-md-4">
              <%= link_to restaurant, class: "text-decoration-none text-dark" do  %>
            <div class="card shadow mt-3 mb-3">
              <% if restaurant.header_image.present? %>
                <%= image_tag restaurant.header_image ,class: "card-img-top"%>
              <% end %>
                <div class="card-body">
                  <div class="card-title"><h3><%= restaurant.title %></div></h3>
                  <div class="card-text mb-3"><%= restaurant.description %></div>
                  <div class="card-btn">
                    <%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-warning btn-sm" %>
                    <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

